@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg:#1f1430;
  --accent:#ff8c42;
}

body {
  background: linear-gradient(180deg, var(--bg) 0%, #2b2140 100%);
  color: white;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

.bg-accent{ background: var(--accent); color: #000; }
